 {% if post.authors and post.authors.size > 0 %}
  <div class="post-authors" style="font-size: 0.9rem; margin: 0.2rem 0 0.5rem 0;">
    {% assign author_names = "" %}
    {% for author_id in post.authors %}
      {% assign author = site.data.authors[author_id] %}
      {% if author %}
        {% if author.url %}
          <a href="{{ author.url }}" target="_blank" rel="noopener noreferrer">{{ author.name }}</a>
        {% else %}
          {{ author.name }}
        {% endif %}
        {% unless forloop.last %}, {% endunless %}
      {% else %}
        {{ author_id }}{% unless forloop.last %}, {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}


